.basfrom_header{
    display: flex;
    margin-bottom: 20px;
}

.basfrom_headertab{
    padding: 10px 20px;
    border: 1px solid #F0F2F5;
    border-radius: 6px;
    font-size: 16px;
    position: relative;
    margin-right: 20px;
    
}

.basfrom_headericon{
    position: absolute;
    padding: 2px;
    right: -2px;
    top: -2px;
    background-color: #fff;
    border-radius: 50%;
}

.basfrom .ant-collapse-item{
    margin-bottom: 10px;
}
.basfrom .ant-collapse-icon-position-end > .ant-collapse-item > .ant-collapse-header{
    background-color: #F6F7FF;
}

.basfrom .ant-collapse {
    background-color: #fff;
    border: none;


}

.basfrom .ant-collapse > .ant-collapse-item{
    border: none;
}