.details_title{
    font-size: 38px;
}


.details .ant-tabs-tab-btn{
    font-size: 26px;
}

.details_contspan1{
    display: inline-block;
    font-size: 22px;
    padding: 10px;
}

.details_contspan2{
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    color: #8E8F8F;
}

