.baisform .ant-picker{
    width: 100%;
}



.baisform .ant-form-item {
    width: 100%;
    padding-right: 30%;
}

.spaceitem .ant-form-item{
    padding-right: 10%;
}

.baisform_div{
    margin: 20px 0;
    font-size: 18px;
}